version: "3"
services:
  nginx:
    build: ./nginx/
    ports:
      - 83:80
    links:
      - php
    volumes:
      - ./www/html/:/var/www/html/

  php:
    build: ./php/
    expose:
      - 9000
    links:
      - mariadb
    volumes:
      - ./www/html/:/var/www/html/
    environment:
      PHP_IDE_CONFIG: "serverName=docker"
      PHP_XDEBUG_ENABLED: 1 # Set 1 to enable.
      XDEBUG_CONFIG: remote_host=192.168.8.100

  mariadb:
      build: ./mariadb/
      ports:
         - "3309:3306"
      volumes:
        - mariadb-data:/var/lib/mysql
      environment:
        MYSQL_ROOT_PASSWORD: secret
        MYSQL_DATABASE: laravel_db
        MYSQL_USER: user
        MYSQL_PASSWORD: password

  mariadbtest:
        build: ./mariadb/
        ports:
           - "3310:3306"
        volumes:
          - mariadb-test-data:/var/lib/mysql
        environment:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: laravel_db_test
          MYSQL_USER: user
          MYSQL_PASSWORD: password


  mariadb-data:
      image: mariadb:latest
      volumes:
        - mariadb-data:/var/lib/mysql
      command: "true"

  mariadb-test-data:
        image: mariadb:latest
        volumes:
          - mariadb-test-data:/var/lib/mysql
        command: "true"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8084:80
    links:
      - mariadb
      - mariadbtest
    restart: always
    environment:
      PMA_ARBITRARY: 1
      PMA_HOSTS: mariadb,mariadbtest
      PMA_USER: root
      PMA_PASSWORD: secret

volumes:
  mariadb-data:
  mariadb-test-data: